h1{
    text-align: center;
    font-size: 100px;
}

h1:hover{
    text-shadow: 5px 5px 5px #6366F1;
    transition: .5s ;
}

footer{
    bottom: 0;
    margin-top: 100vh;
}

hr{
    height: 5px;
    background-color: #6366F1;
    outline: none;
}

h2{
    margin-top: 10px;
    text-align: center;
}

.btn{
   position: absolute;
   top: 80%;
   left: 45%;
}